[Production Feature Collection Name]
#not currently used
FCName: FinalFC

[Existing ItemID]
itemID: b4f7f990101e45bdbc026268ecc254e1
#itemID: 21241f20dcab478685f5306ba68731ab

[SD On Disk]
#not currently used
diskSD: C:\Users\john4818\AppData\Local\ESRI\Desktop10.4\Staging\My Hosted Services\PrePubService.sd

[Log File Location]
syncSchedule: D:\Solutions\511\SyncFeaturecollection\SyncFeaturecollection\SyncSchedule.txt
syncLog: D:\Solutions\511\SyncFeaturecollection\SyncFeaturecollection\SyncLog\SyncLOG.txt

[Data Sources]
fgdb1: D:\Solutions\511\SyncFeaturecollection\SyncFeaturecollection\PublicationData\RFC5112.gdb.zip

[JSON Export]
jsonExport: D:\Solutions\511\SyncFeaturecollection\SyncFeaturecollection\jsonExport\RFC5112_TempFC.txt

[Portal Sharing URL]
baseURL: http://stategovernment.maps.arcgis.com/

[Portal Credentials]
username: name
pw: password

[SD]
#not currently used
#notice RandoPoints in there also...
#sd: {"serviceDescription": "Current road conditions as of ","capabilities":"Query","layers":[{"id":0, "name":"RandomPoints","geometryType":"esriGeometryPoint","minScale":0,"maxScale":0,"drawingInfo":{"renderer":{"type":"simple","symbol":{"type":"esriSMS","style":"esriSMSCircle","color":[0,0,0,255],"size":18,"angle":0,"xoffset":0,"yoffset":0},"label":"","description":""}}}]}

[LAYER INFO]
#not currently used
#notice RandoPoints in there also...
#li: {"capabilities": "Query","layers": [{"id": 0,"name": "RandomPoints","geometryType": "esriGeometryPoint"}]}

[LAYERS]
#not currently used
#l: {"layers":[{"id":0}]}

[Update Interval]
updateInterval: 1
